{% extends 'layout.html' %}
{% block content %}
<h1>Сайт : {{url.name}}</h1>
<table class="table table-bordered" data-test="url">
    <tr>
      <th>ID</th>
      <td>{{url.id}}</td>
    </tr>
    <tr>
      <th>Имя</th>
      <td>{{url.name}}</td>
    </tr>
    <tr>
      <th>Дата создания</th>
      <td>{{url.created_at}}</td>
    </tr>
</table>
<form method="post" action="{{ url_for('check_urls', id=url.id) }}">
  <button type="submit" class="btn btn-primary">Проверить</button>
</form>
<table class="table table-bordered" data-test="checks">
<thead>
  <tr>
    <th>ID</th>
    <th>Код ответа</th>
    <th>h1</th>
    <th>title</th>
    <th>description</th>
    <th>Дата создания</th>
  </tr>
</thead>
<tbody>
{% for check in checks %}
  <tr>
    <td>{{ check[0] }}</td>  <!-- id -->
    <td>{{ check[1] or '' }}</td>  <!-- status_code -->
    <td>{{ check[2] or '' }}</td>  <!-- h1 -->
    <td>{{ check[3] or '' }}</td>  <!-- title -->
    <td>{{ check[4] or '' }}</td>  <!-- description -->
    <td>{{ check[5] }}</td>  <!-- created_at -->
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}