{% extends 'layout.html' %}
{% block content %}
<h1>Сайт: {{url.name}}</h1>
<table class="table table-bordered"  data-test="url" style="margin-bottom: 50px;">
    <tr>
      <th style="font-weight: normal;">ID</th>
      <td>{{url.id}}</td>
    </tr>
    <tr>
      <th style="font-weight: normal;">Имя</th>
      <td>{{url.name}}</td>
    </tr>
    <tr>
      <th style="font-weight: normal;">Дата создания</th>
      <td>{{url.created_at}}</td>
    </tr>
</table>
<h2>Проверки</h2>
<form method="post" action="{{ url_for('check_urls', id=url.id) }}">
  <input type="submit" value="Запустить проверку" class="btn btn-primary mt-2 mb-2" />
</form>
<table class="table table-bordered" data-test="checks">
<thead>
  <tr>
    <th>ID</th>
    <th>Код ответа</th>
    <th>h1</th>
    <th>title</th>
    <th>description</th>
    <th>Дата создания</th>
  </tr>
</thead>
<tbody>
{% for check in checks %}
  <tr>
    <td>{{ check[0] }}</td>
    <td>{{ check[1] or '' }}</td>
    <td>{{ check[2] or '' }}</td>
    <td>{{ check[3] or '' }}</td>
    <td>{{ check[4] or '' }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}